<main class="contenedor">
    <form action="/restablecer-password" method="post" class="default-form">
        <div class="campo">
            <label>Email:</label>
            <input type="email" name="email" placeholder="Tu email" required>
        </div>
        <div class="campo acciones">
            <a href="/iniciar-sesion">Volver a iniciar sesión</a>
        </div>
        <div class="campo">
            <input type="submit" value="Recuperar Password" class="btn btn-azul">
        </div>
    </form>
</main>